FIREBASE_WEB_API_KEY=your_web_api_key
FIREBASE_WEB_APP_ID=your_web_app_id
FIREBASE_ANDROID_API_KEY=your_android_api_key
FIREBASE_ANDROID_APP_ID=your_android_app_id
FIREBASE_IOS_API_KEY=your_ios_api_key
FIREBASE_IOS_APP_ID=your_ios_app_id
FIREBASE_WINDOWS_API_KEY=your_windows_api_key
FIREBASE_WINDOWS_APP_ID=your_windows_app_id
FIREBASE_MESSAGING_SENDER_ID=467817526471
FIREBASE_PROJECT_ID=reminder-app-398bd
FIREBASE_AUTH_DOMAIN=reminder-app-398bd.firebaseapp.com
FIREBASE_STORAGE_BUCKET=reminder-app-398bd.firebasestorage.app
FIREBASE_IOS_BUNDLE_ID=com.example.reminderApp
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
